#level1_0{
    width: 1000px;
    height: 200px;
    border:3px solid #49b8ff;
    text-align:left;
}

#level1_0 >div{
    width: 40%;
    height: 40%;
    margin: 1% 2%;
    border:2px solid #49b8ff;
    float: left;
}


#level1_0 >div >div{
    width: 40%;
    height: 70%;
    margin: 1% 2%;
    border:2px solid #49b8ff;
    float: left;
}

#level1_0 >div >div  div{
    width: 40%;
    height: 30%;
    margin: 1% 2%;
    border:2px solid #49b8ff;
    float: left;
}

