li {
    list-style: none;
    margin: 5px 0;
}

ul {
    margin: 0;
    padding: 0;
}

#tree div {
    margin: 10px 0;
    font-size: 15px;
    color: aqua;
    background: #fbffe7;
    width: 90px;
}

ul li {
    color: #77ff83;
    font-size: 13px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.left-triangle{
    width: 0;
    height: 0;
    border-left: 8px solid #006633;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.bottom-triangle{
    width: 0;
    height: 0;
    border-bottom: 8px solid #006633;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
}


